*.pyc
*.pyo
*.pyd
__pycache__/
*.cover
*.log=
venv/
env/
ENV/
.venv/
*.sqlite3
db.sqlite3
/staticfiles/
/media/
/node_modules/
.env
*.env
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.pytest_cache/
.cache/
*.log
htmlcov/
.coverage
.coverage.*
